<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Senppo Clone</title>   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../assets/styles.css">

</head>
<body class="w-100">
  <div>
    <nav class="navbar navbar-light bg-black fixed-top">
        <div class="container">
          <!-- logo -->
            <a class="navbar-brand" href="index.html">
                <img src="../assets/logo.png" alt="" width="88" height="50">
            </a>
            <!-- links y hamburguesa -->    
            <div class="d-none d-md-flex">   
                <div><a class="nav-link active" aria-current="page" href="#">Home</a></div>
                <div><a class="nav-link" href="#About">About</a></div>
                <div><a class="nav-link" href="#Clients">Clients</a></div>
                <div><a class="nav-link" href="#News">News</a></div>
                <div><a class="nav-link" href="#Portfolio">Portfolio</a></div>
                <div><a class="nav-link" href="#Pricing">Pricing</a></div>
                <div><a class="nav-link" href="#Team">Team</a></div>
                <div><a class="nav-link" href="#Skills">Skills</a></div>
                <div><a class="nav-link" href="#Milestones">Milestones</a></div>
                <div><a class="nav-link" href="#Contact">Contact</a></div>
            </div>

            <button class="btn btn-black text-light d-block d-sm-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
                <i class="bi bi-list" style="font-size: 2.8rem;"></i>
            </button>                
        </div>
    </nav>
    <!-- menu desplegable -->
    <div style="height: 600px;" id="dropdownNavbar" class="position-fixed">
        <div class="collapse collapse-horizontal" id="collapseWidthExample">
            <div class="card card-body bg-black text-secondary" style="width: 300px; height: 100%">
                <ul class="navbar-nav mb-2 mt-5">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#About">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Clients">Clients</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#News">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Portfolio">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Pricing">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Team">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Skills">Skills</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Milestones">Milestones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Contact">Contact</a>
                    </li>
                </ul>    
            </div>
        </div>
    </div>    
  </div>
  <section class="bg-black mx-0 container-fluid">
    <div class="card bg-dark text-white" id="home">
        <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center">
          <div class="d-none d-md-block container">
            <h1 class="text-start" style="font-size: 6rem;">Technology & <br> Visual Agency</h1>
            <a href="#portfolio" class="btn rounded-pill text-light" style="background:  #47ea4e; text-decoration: none;height: 6vh; width: 25vh; padding: 12px;"><h6>LEARN MORE</h6></a>
            
          </div>
          <div class="d-block d-sm-none">
            <h2 class="text-center">Technology & <br> Visual Agency</h2>
            <button type="submit" class="btn rounded-pill text-light" style="background:  #47ea4e">
              <a href="#portfolio" style="text-decoration: none; color: white;"><h6>LEARN MORE</h6></a>
            </button>
          </div>
        </div>
      </div>
  </section>

  <section id="services" class="position-relative bg-black container-fluid">
      <!-- Sevice bar -->
      <div class="title-bar text-center text-light d-flex align-items-center justify-content-center">
          <h5>Services</h5>
      </div>
      <div class="container d-flex flex-column flex-md-row" style="padding-bottom: 25vh;">
          <div class="card bg-black text-light">
              <div class="card-body text-center text-md-start">
                <p class="largNum ">1</p>
                <h1 class="card-title  my-3">Preciese</h1>
                <p class="card-text  text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident voluptatum sed officiis ut. Deserunt temporibus vel aperiam laudantium laborum distinctio mollitia</p>
                <a href="#portfolio" class="text-light" style="text-decoration: none;" ><h2 class="text-center"><i class="bi bi-circle mx-3"></i>More</a></h2> 
              </div>
            </div>
            <div class="card bg-black text-light">
              <div class="card-body text-center text-md-start">
                <p class="largNum">2</p>
                <h1 class="card-title my-3">Support</h1>
                <p class="card-text text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident voluptatum sed officiis ut. Deserunt temporibus vel aperiam laudantium laborum distinctio mollitia</p>
                <a href="#portfolio" class="text-light" style="text-decoration: none;" ><h2 class="text-center"><i class="bi bi-circle mx-3"></i>More</a></h2> 
              </div>
            </div>
            <div class="card bg-black text-light">
              <div class="card-body text-center text-md-start">
                <p class="largNum">3</p>
                <h1 class="card-title my-3">Responsive</h1>
                <p class="card-text text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident voluptatum sed officiis ut. Deserunt temporibus vel aperiam laudantium laborum distinctio mollitia</p>
                <a href="#portfolio" class="text-light" style="text-decoration: none;" ><h2 class="text-center"><i class="bi bi-circle mx-3"></i>More</a></h2> 
              </div>
            </div>

      </div>

  </section>

  <section id="about" class="poisition-relative bg-white">
        <div class="title-bar text-center text-light d-flex align-items-center justify-content-center">
            <h5>About</h5>
        </div>
        <div class="row align-items-center d-flex justify-content-center">
            <div class="col-md-3 col-xs-0 "></div>
            <div class="col-md-6 col-xs-12 my-0">
              <div class="row">
                <div class="col-xs-12 col-md-6 card text-center text-md-start my-3 border-0">
                  <div class="card-header bg-transparent border-0 text-secondary">
                    <h4 class="mt-3">Who we are</h4> 
                  </div>
                  <div class="card-body">
                    <h1 class="fw-bold mb-4" style="font-size: 40px;">Live up to your creative potential</h1>
                    <p class="card-text text-secondary">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium incidunt asperiores minima! Itaque quo, hic aperiam ut expedita aliquam asperiores accusamus odit quae, blanditiis distinctio pariatur impedit qui nemo! Culpa.</p>
                    <a href="#portfolio" class="btn rounded-pill text-light my-4" style="background: #47ea4e;">
                      <h6 class="my-1">LEARN MORE</h6>
                    </a>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6 my-0">
                  <img src="../assets/about_01.jpg" class="img-thumbnail border-0 img-fluid" alt="">
                </div>
              </div>
            </div>
            <div class="col-md-3 col-xs-0 "></div>
        </div>   
    
  </section>
  <section id="clients" class="row">    
    <div class="col-md-2 col-xs-0"></div>
    <div class="col-md-8 col-xs-12 d-flex flex-column justify-content-center">
      <div class="d-block d-sm-none quote bg-black">
        <div id="carouselExampleInterval container" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner mx-3">
              <div>
                <img src="../assets/quotes_image.png" width="100px" class="m-4">
              </div>
              <div class="carousel-item active" data-bs-interval="4000">
                <figure class="p-4">
                  <blockquote class="blockquote">
                    <p class="text-secondary" style="font-size: large;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque deserunt sit, nesciunt iusto doloremque quae reiciendis, error placeat aperiam, aut odit non unde</p>
                  </blockquote>
                  <figcaption class="blockquote-footer my-4">
                    <img src="../assets/male01.jpg"><h1 class="text-secondary">John Guerrero</h1>  <p class="text-white">DESIGNER</p>
                  </figcaption>
                </figure>
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <figure class="p-4">
                  <blockquote class="blockquote">
                    <p class="text-secondary" style="font-size: medium;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque deserunt sit, nesciunt iusto doloremque quae reiciendis, error placeat aperiam, aut odit non unde? Laudantium molestiae eum quaerat nam similique doloremque!</p>
                  </blockquote>
                  <figcaption class="blockquote-footer my-4">
                    <img src="../assets/female01.jpg"><h1 class="text-secondary">Melinda Atshkins</h1>  <p class="text-white">DESIGNER</p>
                  </figcaption>
                </figure>
              </div>
              <div class="carousel-item">
                <figure class="p-4">
                    <blockquote class="blockquote">
                      <p class="text-secondary" style="font-size: medium;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque deserunt sit, nesciunt iusto doloremque quae reiciendis, error placeat aperiam, aut odit non unde? Laudantium molestiae eum quaerat nam similique doloremque!</p>
                    </blockquote>
                    <figcaption class="blockquote-footer my-4">
                      <img src="../assets/female02.jpg"> <h1 class="text-secondary">Sasha Oprey</h1>  <p class="text-white">DESIGNER</p>
                    </figcaption>
                  </figure>
              </div>
            </div>
        </div>
      </div>
      <div class="d-none d-sm-block quote-md bg-black">
        <div id="carouselExampleInterval container" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner mx-3">
            <div>
              <img src="../assets/quotes_image.png" width="100px" class="m-4">
            </div>
            <div class="carousel-item active" data-bs-interval="4000">
              <figure class="p-4">
                <blockquote class="blockquote">
                  <p class="text-secondary" style="font-size: large;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque deserunt sit, nesciunt iusto doloremque quae reiciendis, error placeat aperiam, aut odit non unde</p>
                </blockquote>
                <figcaption class="blockquote-footer my-4">
                  <img src="../assets/male01.jpg"><h1 class="text-secondary">John Guerrero</h1>  <p class="text-white">DESIGNER</p>
                </figcaption>
              </figure>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <figure class="p-4">
                <blockquote class="blockquote">
                  <p class="text-secondary" style="font-size: medium;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque deserunt sit, nesciunt iusto doloremque quae reiciendis, error placeat aperiam, aut odit non unde? Laudantium molestiae eum quaerat nam similique doloremque!</p>
                </blockquote>
                <figcaption class="blockquote-footer my-4">
                  <img src="../assets/female01.jpg"><h1 class="text-secondary">Melinda Atshkins</h1>  <p class="text-white">DESIGNER</p>
                </figcaption>
              </figure>
            </div>
            <div class="carousel-item">
              <figure class="p-4">
                  <blockquote class="blockquote">
                    <p class="text-secondary" style="font-size: medium;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque deserunt sit, nesciunt iusto doloremque quae reiciendis, error placeat aperiam, aut odit non unde? Laudantium molestiae eum quaerat nam similique doloremque!</p>
                  </blockquote>
                  <figcaption class="blockquote-footer my-4">
                    <img src="../assets/female02.jpg"> <h1 class="text-secondary">Sasha Oprey</h1>  <p class="text-white">DESIGNER</p>
                  </figcaption>
                </figure>
            </div>
          </div>
      </div>
      </div>
    </div>
    <div class="col-md-2 col-xs-0"></div>
  </section>

  <section id="news" class="poisition-relative bg-white">
    <div class="title-bar text-center text-light d-flex align-items-center justify-content-center">
      <h5>News</h5>
    </div>
    <div class="mt-5 row flex-row justify-content-evenly">
      <div class="col-md-2"></div>
      <div class="col-md-8 row">
        <div class="card border-0 col-md-4 col-xs-12 px-4 ">
          <div>
            <a href="./single.html">
              <img src="../assets/blog_img_01.jpg" class="img-thumbnail border-0" alt="...">
            </a>  
          </div>
          <div class="card-body">
            <a href="./single.html">
              <h5 class="card-title text-center my-4" style="font-size: x-large; font-weight: 600;">
                How to write rogue mote of dust love
              </h5>
            </a>
            <p class="card-text text-center text-secondary lh-lg" style="font-size: large;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia facere mollitia tempore repellat quisquam unde deserunt perferendis.</p>  
          </div>
        </div>
        <div class="card border-0 col-md-4 col-xs-12 px-4 ">
          <div>
            <a href="./single.html">
              <img src="../assets/blog_img_02.jpg" class="img-thumbnail border-0" alt="...">
            </a>  
          </div>
          <div class="card-body">
            <a href="./single.html">
              <h5 class="card-title text-center my-4" style="font-size: x-large; font-weight: 600;">
                Epochs encyclopa galactica stellar
              </h5>
            </a>
            <p class="card-text text-center text-secondary lh-lg" style="font-size: large;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia facere mollitia tempore repellat quisquam unde deserunt perferendis.</p>  
          </div>
        </div>
        <div class="card border-0 col-md-4 col-xs-12 px-4 ">
          <div>
            <a href="./single.html">
              <img src="../assets/blog_img_03.jpg" class="img-thumbnail border-0" alt="...">
            </a>  
          </div>
          <div class="card-body">
            <a href="./single.html">
              <h5 class="card-title text-center my-4" style="font-size: x-large; font-weight: 600;">
                Lorem ipsum dolor sit amet 
              </h5>
            </a>
            <p class="card-text text-center text-secondary lh-lg" style="font-size: large;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia facere mollitia tempore repellat quisquam unde deserunt perferendis.</p>  
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
      

      <div class="d-flex justify-content-center">
        <button class="btn btn-lg mt-4 rounded-pill border-0 text-center" style="background-color: #47ea4e; color:whitesmoke; width:200px"><p class="mt-3" style="font-size:large;">Go to the Blog</p></button>
      </div>
    </div>

  </section>

  <section id="portfolio" >
    <div class="title-bar text-center text-light d-flex align-items-center justify-content-center mt-4">
      <h5>Portfolio</h5>
    </div>
    <!-- Section hidden on smartphones -->
    <div class="position-relative d-flex d-none d-sm-flex" height=100vh>
      <div class="imgPortfolio">
      </div>
    </div>
    <!-- section for smartphones -->
    <div class="position-relative d-flex flex-column d-block d-sm-none" height=950px>
      <div class="img-fluid">
        <img src="../assets/img_portfolio_01.jpg" height="450px" width="100%">
      </div>
      <div class="img-fluid">
        <img src="../assets/img_portfolio_02.jpg" height="450px" width="100%">
      </div>
      <div class="img-fluid">
        <img src="../assets/img_portfolio_03.jpg" height="450px" width="100%">
      </div>
    </div>
  </section>

  <section id="pricing">
    <div class="title-bar text-center text-light d-flex align-items-center justify-content-center mt-4">
      <h5>Pricing</h5>
    </div>
    <div class="row">
      <div class="col-md-2 col-xs-0"></div>
      <div class="col-md-8 col-xs-12 row">
        <div class="m-0 justify-content-center col-md-4 col-xs-12">
          <div class="pricingBlock d-flex flex-column flex-md-row align-items-center justify-content-center">
            <div class="d-flex flex-column align-items-center">
              <div class="row">
                <div class="col-8">
                  <p class="fs-4 text-start mt-4 mx-3"> BASIC</p>
                </div>
                <div class="col-4">
                  <p class="largNumPricing"> 1 </p>
                </div>
              </div>
              <div class="px-4">
                <h1 style="font-size: 120px; color: #47ea4e;" class="text-center">$25</h1>
                <p class="text-secondary fs-4">PER MOUNT</p>
                <ul class="pricingList px-0">
                  <li><i class="bi bi-check"></i>Unlimited Support</li>
                  <li><i class="bi bi-check"></i>5GB Server Space</li>
                  <li><i class="bi bi-check"></i>2 User per project</li>
                  <li><i class="bi bi-x"></i>Email integration</li>
                  <li><i class="bi bi-x"></i>Unlimited Download</li>
                </ul>
              </div>
              <button class="btn btn-lg mt-4 rounded-pill border-0 text-center" style="background-color: #47ea4e; color:whitesmoke; width:200px"><p class="mt-3" style="font-size:large;">Go to the Blog</p></button>
            </div>  
          </div>  
        </div>
        <div class="m-0 justify-content-center col-md-4 col-xs-12">
          <div class="pricingBlock d-flex flex-column align-items-center">
            <div class="d-flex flex-column align-items-center">
              <div class="row">
                <div class="col-8">
                  <p class="fs-4 text-start mt-4 mx-3"> ADVANCED </p>
                </div>
                <div class="col-4">
                  <p class="largNumPricing"> 2 </p>
                </div>
              </div>
              <div class="px-4">
                <h1 style="font-size: 120px; color: #47ea4e;" class="text-center">$50</h1>
                <p class="text-secondary fs-4">PER MOUNT</p>
                <ul class="pricingList px-0">
                  <li><i class="bi bi-check"></i>Unlimited Support</li>
                  <li><i class="bi bi-check"></i>5GB Server Space</li>
                  <li><i class="bi bi-check"></i>2 User per project</li>
                  <li><i class="bi bi-check"></i>Email integration</li>
                  <li><i class="bi bi-x"></i>Unlimited Download</li>
                </ul>
              </div>
              <button class="btn btn-lg mt-4 rounded-pill border-0 text-center" style="background-color: #47ea4e; color:whitesmoke; width:200px"><p class="mt-3" style="font-size:large;">Go to the Blog</p></button>
            </div>
          </div>
        </div>
        <div class="m-0 justify-content-center col-md-4 col-xs-12">
          <div class="pricingBlock d-flex flex-column align-items-center">
            <div class="d-flex flex-column align-items-center">
              <div class="row">
                <div class="col-8">
                  <p class="fs-4 text-start mt-4 mx-3"> EXPERT </p>
                </div>
                <div class="col-4">
                  <p class="largNumPricing"> 3 </p>
                </div>
              </div>
              <div class="px-4">
                <h1 style="font-size: 120px; color: #47ea4e;" class="text-center">$75</h1>
                <p class="text-secondary fs-4">PER MOUNT</p>
                <ul class="pricingList px-0">
                  <li><i class="bi bi-check"></i>Unlimited Support</li>
                  <li><i class="bi bi-check"></i>5GB Server Space</li>
                  <li><i class="bi bi-check"></i>2 User per project</li>
                  <li><i class="bi bi-check"></i>Email integration</li>
                  <li><i class="bi bi-check"></i>Unlimited Download</li>
                </ul>
              </div>
              <button class="btn btn-lg mt-4 rounded-pill border-0 text-center" style="background-color: #47ea4e; color:whitesmoke; width:200px"><p class="mt-3" style="font-size:large;">Go to the Blog</p></button>
            </div>
          </div>
        </div>  
      </div>
      <div class="col-md-2 col-xs-0"></div>
    </div>
  </section>

  <section id="team" class="bg-black">
    <div class="title-bar text-center text-light d-flex align-items-center justify-content-center mt-4">
      <h5>Team</h5>
    </div>

    <!-- Smartphone section -->
    <div class="d-block d-sm-none">
      <div class="d-flex align-items-center flex-column">
        <!-- Carta team 1 -->
        <div class="card border-0 justify-content-center mt-5" style="width: 18rem;">
          <img src="../assets/team_woman_02.jpg" class="img-fluid">
          <div class="card-body justify-content-center">
            <p class="text-secondary my-4">C E O</p>
            <h5 class="card-title">Jacqueline</h5>
            <p class="card-text text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus vero tenetur dolore natus fugit. Quisquam dolorem cupiditate perspiciatis vel, suscipit iure at quod aliquam quae impedit modi illum, natus vero!</p>
          </div>
          <ul class="list-group list-group-horizontal justify-content-evenly" style="background-color: #47ea4e;">
            <a href=""><li class="list-group-item"><i class="bi bi-facebook"></i></li></a>
            <a href=""><li class="list-group-item"><i class="bi bi-linkedin"></i></li></a>
            <a href=""><li class="list-group-item"><i class="bi bi-instagram"></i></li></a>
            <a href=""><li class="list-group-item"><i class="bi bi-vimeo"></i></li></a>
          </ul>
        </div>
        <!-- Carta team 2 -->
        <div class="card border-0 justify-content-center mt-5" style="width: 18rem;">
          <img src="../assets/team_woman_01.jpg" class="img-fluid">
          <div class="card-body justify-content-center">
            <p class="text-secondary my-4">C F O</p>
            <h5 class="card-title">Brittany</h5>
            <p class="card-text text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus vero tenetur dolore natus fugit. Quisquam dolorem cupiditate perspiciatis vel, suscipit iure at quod aliquam quae impedit modi illum, natus vero!</p>
          </div>
          <ul class="list-group list-group-horizontal justify-content-evenly" style="background-color: #47ea4e;">
            <a href=""><li class="list-group-item"><i class="bi bi-facebook"></i></li></a>
            <a href=""><li class="list-group-item"><i class="bi bi-linkedin"></i></li></a>
            <a href=""><li class="list-group-item"><i class="bi bi-instagram"></i></li></a>
            <a href=""><li class="list-group-item"><i class="bi bi-vimeo"></i></li></a>
          </ul>
        </div>
        <!-- Carta team 3 -->
        <div class="card border-0 justify-content-center my-5" style="width: 18rem;">
          <img src="../assets/team_man_01.jpg" class="img-fluid">
          <div class="card-body justify-content-center">
            <p class="text-secondary my-4">C E O</p>
            <h5 class="card-title">Henry</h5>
            <p class="card-text text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus vero tenetur dolore natus fugit. Quisquam dolorem cupiditate perspiciatis vel, suscipit iure at quod aliquam quae impedit modi illum, natus vero!</p>
          </div>
          <ul class="list-group list-group-horizontal justify-content-evenly" style="background-color: #47ea4e;">
            <a href=""><li class="list-group-item"><i class="bi bi-facebook"></i></li></a>
            <a href=""><li class="list-group-item"><i class="bi bi-linkedin"></i></li></a>
            <a href=""><li class="list-group-item"><i class="bi bi-instagram"></i></li></a>
            <a href=""><li class="list-group-item"><i class="bi bi-vimeo"></i></li></a>
          </ul>
        </div>
      </div>
    </div>

    <!-- Desktop section -->
    <div class="d-none d-sm-flex row">
      <div class="col-md-2"></div>
      <div class="col-md-8 ">
        <div class="row mb-4">
          <div class="col">
            <img src="../assets/team_woman_02.jpg" width="100%">
          </div>
          <div class="col">
            <div class="card border-0 justify-content-center mt-5" style="width: 100%; height:60%; right:30%; top:20%">
              <div class="card-body justify-content-center d-flex flex-column" style="padding: 6rem">
                <p class="text-secondary" style="font-size: x-large;">C E O</p>
                <h1 class="card-title" style="font-size: 80px; font-weight: bolder;">Jacqueline</h1>
                <p class="card-text text-secondary lh-lg" style="font-size: 1.8em">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus vero tenetur dolore natus fugit. Quisquam dolorem cupiditate perspiciatis vel, suscipit iure at quod aliquam quae impedit modi illum, natus vero!</p>
              </div>
            </div>
          </div>
          <div class="position" style="margin: 40% 0 0 0 ; right:45%">
            <ul class="list-group list-group-horizontal justify-content-evenly" style="background-color: #47ea4e; height: 80px; padding:17px">
              <a href="""><li class="list-group-item" style="font-size: xx-large"><i class="bi bi-facebook"></i></li></a>
              <a href="""><li class="list-group-item" style="font-size: xx-large"><i class="bi bi-linkedin"></i></li></a>
              <a href="""><li class="list-group-item" style="font-size: xx-large"><i class="bi bi-instagram"></i></li></a>
              <a href="""><li class="list-group-item" style="font-size: xx-large"><i class="bi bi-vimeo"></i></li></a>
            </ul>
          </div>
        </div>
        <div class="row my-5">
          <div class="col">
            <div class="card border-0 justify-content-center mt-5" style="width: 100%; height:60%; left:25%; top:30%">
              <div class="card-body justify-content-center d-flex flex-column" style="padding: 6rem">
                <p class="text-secondary" style="font-size: x-large;">C E O</p>
                <h1 class="card-title" style="font-size: 80px; font-weight: bolder;">Henry</h1>
                <p class="card-text text-secondary lh-lg" style="font-size: 1.8em">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus vero tenetur dolore natus fugit. Quisquam dolorem cupiditate perspiciatis vel, suscipit iure at quod aliquam quae impedit modi illum, natus vero!</p>
              </div>
            </div>
          </div>
          <div class="col">
            <img src="../assets/team_man_01.jpg" width="100%">
          </div>
          <div class="position" style="margin: 44% 0 0 0 ; right:35%">
            <ul class="list-group list-group-horizontal justify-content-evenly" style="background-color: #47ea4e; height: 80px; padding:17px">
              <a href="""><li class="list-group-item" style="font-size: xx-large"><i class="bi bi-facebook"></i></li></a>
              <a href="""><li class="list-group-item" style="font-size: xx-large"><i class="bi bi-linkedin"></i></li></a>
              <a href="""><li class="list-group-item" style="font-size: xx-large"><i class="bi bi-instagram"></i></li></a>
              <a href="""><li class="list-group-item" style="font-size: xx-large"><i class="bi bi-vimeo"></i></li></a>
            </ul>
          </div>
        </div>
        <div class="row my-5">
          <div class="col">
            <img src="../assets/team_woman_01.jpg" width="100%">
          </div>
          <div class="col">
            <div class="card border-0 justify-content-center mt-5" style="width: 100%; height:60%; right:30%; top:20%">
              <div class="card-body justify-content-center d-flex flex-column" style="padding: 6rem">
                <p class="text-secondary" style="font-size: x-large;">C F O</p>
                <h1 class="card-title" style="font-size: 80px; font-weight: bolder;">Brittany</h1>
                <p class="card-text text-secondary lh-lg" style="font-size: 1.8em">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus vero tenetur dolore natus fugit. Quisquam dolorem cupiditate perspiciatis vel, suscipit iure at quod aliquam quae impedit modi illum, natus vero!</p>
              </div>
            </div>
          </div>
          <div class="position" style="margin: 40% 0 0 0 ; right:45%">
            <ul class="list-group list-group-horizontal justify-content-evenly" style="background-color: #47ea4e; height: 80px; padding:17px">
              <a href="""><li class="list-group-item" style="font-size: xx-large"><i class="bi bi-facebook"></i></li></a>
              <a href="""><li class="list-group-item" style="font-size: xx-large"><i class="bi bi-linkedin"></i></li></a>
              <a href="""><li class="list-group-item" style="font-size: xx-large"><i class="bi bi-instagram"></i></li></a>
              <a href="""><li class="list-group-item" style="font-size: xx-large"><i class="bi bi-vimeo"></i></li></a>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
      
    </div>

  </section>

  <section id="skills" class="bg-white">
    <div class="title-bar text-center text-light d-flex align-items-center justify-content-center">
      <h5>Skills</h5>
    </div>
    <div class="row text-center text-md-start my-5">
      <div class="col-md-3"></div>
      <div class="col-xs-12 col-md-3">
        <p class="text-secondary d-block d-sm-none" style="font-size: medium;"> OUR NUMBERS</p>
        <p class="text-secondary d-none d-sm-block" style="font-size: 25px;"> OUR NUMBERS</p>
        <h1 class="fw-bolder d-block d-sm-none" style="font-size: xx-large;">Check our <br> Skills</h1>
        <h1 class="fw-bolder 	d-none d-sm-block" style="font-size: 70px;">Check our <br> Skills</h1>
        <p class="text-secondary fs-4 lh-base mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum recusandae dolore commodi quod quam nihil recusandae dolore commodi quod quam nihil </p>
        <button type="submit" class="btn rounded-pill text-light py-3 px-5 mt-5" style="background:  #47ea4e"><h6 style="font-size:large;">LEARN MORE</h6></button>
      </div>
      <div class="percentage col-xs-12 col-md-3">
        <div class="my-5 d-md-flex">
          <div>
            <h1 style="font-size: 45px;"> 75% </h1>
          </div>
          <div class="w-100 ms-5">
            <h4> Creativity </h4> 
            <div class="progress" style="height: 0.8rem;">
              <div class="progress-bar bg-black" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
        <div class="my-5 d-md-flex">
          <div>
            <h1 style="font-size: 45px;"> 45% </h1>
          </div>
          <div class="w-100 ms-5">
            <h4> Cooking </h4> 
            <div class="progress" style="height: 0.8rem;">
              <div class="progress-bar bg-black" role="progressbar" style="width: 45%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>

        <div class="my-5 d-md-flex">
          <div>
            <h1 style="font-size: 45px;"> 90% </h1>
          </div>
          <div class="w-100 ms-5">
            <h4> Php </h4> 
            <div class="progress" style="height: 0.8rem;">
              <div class="progress-bar bg-black" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>


        <div class="my-5 d-md-flex">
          <div>
            <h1 style="font-size: 45px;"> 65% </h1>
          </div>
          <div class="w-100 ms-5">
            <h4> Marketing </h4> 
            <div class="progress" style="height: 0.8rem;">
              <div class="progress-bar bg-black" role="progressbar" style="width: 65%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>


        <div class="my-5 d-md-flex">
          <div>
            <h1 style="font-size: 45px;"> 85% </h1>
          </div>
          <div class="w-100 ms-5">
            <h4> Design </h4> 
            <div class="progress" style="height: 0.8rem;">
              <div class="progress-bar bg-black" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  
  </section>

  <section id="milestones" class="bg-black pb-3">
    <div class="title-bar text-center text-light d-flex align-items-center justify-content-center">
      <h5>Milestones</h5>
    </div>
    <div class="container text-center">
      <h1 class="number-millstone mt-5">135</h1>
      <h1 class="text-light fw-bold">Terabytes of files uploaded</h1>
      <p class="text-secondary lh-base fs-5 my-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum officia magnam </p>
    </div>
    <div class="container text-center">
      <h1 class="number-millstone mt-5">67K</h1>
      <h1 class="text-light fw-bold">Lines of CSS code wrote</h1>
      <p class="text-secondary lh-base fs-5 my-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum officia magnam </p>
    </div>
    <div class="container text-center">
      <h1 class="number-millstone mt-5">74</h1>
      <h1 class="text-light fw-bold">Cups of coffee drinked per week</h1>
      <p class="text-secondary lh-base fs-5 my-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum officia magnam </p>
    </div>
    <div class="container text-center">
      <h1 class="number-millstone mt-5">389</h1>
      <h1 class="text-light fw-bold">Happy clients served this year</h1>
      <p class="text-secondary lh-base fs-5 mt-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum officia magnam </p>
    </div>
  </section>
  <section id="contact" class="bg-white">
    <div class="title-bar text-center text-light d-flex align-items-center justify-content-center">
      <h5>Contact</h5>
    </div>
    <div class="container text-center">
      <div>
        <p class="text-secondary fs-6 mt-5" style="font-weight: 400;"> CONTACT US</p>
        <h1 class="fw-bolder" style="font-size: 45px;">Lets start working</h1>
        <p class="text-secondary fs-4 lh-base my-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum recusandae dolore commodi quod quam nihil recusandae dolore commodi quod quam nihil </p>
        <div>
          <ul class="list-group list-group-horizontal justify-content-evenly mt-5">
            <a href=""><li class="list-group-item" style="background-color: transparent;"><i class="bi bi-facebook text-black"></i></li></a>
            <a href=""><li class="list-group-item" style="background-color: transparent;"><i class="bi bi-linkedin text-black"></i></li></a>
            <a href=""><li class="list-group-item" style="background-color: transparent;"><i class="bi bi-instagram text-black"></i></li></a>
            <a href=""><li class="list-group-item" style="background-color: transparent;"><i class="bi bi-vimeo text-black"></i></li></a>
          </ul>
        </div>
        <div class="my-5">
          <div class="mb-3">
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name">
          </div>
          <div class="mb-3">
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email">
          </div>
          <div class="mb-3">
            <textarea class="form-control text-black" id="exampleFormControlTextarea1" rows="5" placeholder="Subject"></textarea>
          </div>
          <div class="d-grid gap-2">
            <button type="submit" class="btn rounded-pill text-light " style="background:  #47ea4e"><h6 style="font-size:large;" type="button">SEND</h6></button>
          </div>

        <div class="ratio ratio-1x1 my-5">
          <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d3328.7447203122892!2d-70.6966347!3d-33.4559568!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2scl!4v1643645079245!5m2!1ses!2scl"  style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        </div>
      </div>

    </div>
  </section>

  <footer>
    <div class="d-block bg-black">
      <div class="row bg-black text-center">
        <div class="col-12 justify-content-center">
          <img src="../assets/logo.png" alt="" class="img-fluid my-4" width="100vh">
        </div>
        <div class="col-12">
          <p style="font-size: 1.8rem; color:white">| <br> example@example.com <br> |</p>
        </div>
        <div class="col-12 d-flex flex-row justify-content-center">
          <ul class="list-group list-group-horizontal">
            <li class="list-group-item" style="background-color: transparent">
              <a href="#">
                <i class="bi bi-twitter" style="color:white; font-size: 2.5rem;"></i>
              </a>
            </li>
            <li class="list-group-item" style="background-color: transparent">
              <a href="#">
                <i class="bi bi-facebook" style="color:white; font-size: 2.5rem;"></i>
              </a>
            </li>
            <li class="list-group-item" style="background-color: transparent">
              <a href="#">
                <i class="bi bi-behance" style="color:white; font-size: 2.5rem;"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>        
    </div>
    <div class="text-white bg-black text-center pt-5">
      <p class="m-0" style="font-size: x-small;">
        Tema clon desarrollado por Luis Rodriguez
      </p> 
    </div>
  </footer>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>