body {
    background: transparent;
}
a.nav-link {
    text-decoration: none;
    color: whitesmoke;
    transition: color .3s ease;
    cursor: pointer;
}

a.nav-link:hover {
    color: #47ea4e; 
}

#dropdownNavbar{
    position: absolute;
    z-index: 1;

}

#home{
    background-image: url(01.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.title-bar{
    position: relative;
    top: 0;
    left: 0;
    background-color: #47ea4e;
    z-index: 98;
    width: 200px;
    height: 100px;
}
.title-bar::after{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 60px 0 0;
    border-color: #47ea4e transparent transparent transparent;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
}

.largNum{
    font-size: 264px;
    font-weight: 700;
    color: #000000;
    text-shadow: -1px 0 #b3b3b3, 0 1px #b3b3b3, 1px 0 #b3b3b3, 0 -1px #b3b3b3;
    line-height: 100%;
    height: 165px;
    overflow: hidden;
    margin-bottom: -10px;
}

#clients{
    background-image: url(02.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    position: relative  ;
}

.quote{
    width: 90%;
    height: 99%;
    position: absolute;
    margin: 3px 0px 0px 16px;
}

figcaption>img{
    height: 70px;
    width: 70px;
    border-radius: 90%;
    vertical-align: center;
}

div.card-body > a{
    text-decoration: none;
    color: black;
}

.imgPortfolio{
    height: 50vh;
}

.pricingBlock{
    padding-bottom: 20px;
    background-color: #ffffff;
    margin-top: 30px;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #000;
    position: relative;
    text-align: left;
}

.largNumPricing{
    font-size: 200px;
    font-weight: 700;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    line-height: 13%;
    height: 165px;
    overflow: visible;
    margin-bottom: 0px;
    z-index: 1;
    position: relative;
    background-color: white;
    bottom: 4px;
    right: -5px;
}

.pricingList > li{
    list-style: none;
}

.bi-check{
    color: #47ea4e;
    font-size: 1.9rem;
    margin: 0 13px ;
}

.bi-x{
    color: gray;
    font-size: 1.9rem;
    margin: 0 13px ;
}

li.list-group-item{
    background-color: #47ea4e;
    color: white;
    border: 0;
    font-size: x-large;
}